.header_area{
  display: flex;
  width: 100vw;
  height: 64px;
  margin: 20px;
}
main{
  background-color:#808080;
}
.top_data_wrapper{
  display: ;
}
.top_data_box{
background-color: #ffffff;
}