.header_area{
  display: flex;
  width: 100vw;
  height: 64px;
  margin: 20px;
}
main{
  background-color:#dcdcdc;
  width: 100vw;
  height: 100vh;
}
.contents_wrapper{
  display: flex;
  margin-top: 20px;
}
.top_data_wrapper{
  list-style: none;
  display: flex;
  gap:40px;
  /* flex-direction: space-between; */
}
.top_data_box{
background-color: #ffffff;
}
.circle_box_wrapper{
  display: flex;
}
.circle_box{
  background-color: #ffffff;
  height: auto80px;
}