headerInner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
nav{
  display: flex ;
  justify-content: space-between;
}

/* .logoArea{
display: justify-content ;
} */