a{
  text-decoration: none;
}
li{
  list-style: none;
}
head{
  font-family: Noto Sans JP;
}


header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  }
.logoArea{
  margin-top: 26px;
  margin-left: 24px;
}
.logoList{
  display: flex;
  margin-top: 30px;
}

.logoList ul{
  display: flex;
}
.logoList ul li{
  margin-right: 32px;
  color: #666666;
}
.logoList ul li:last-child(3),
.logoList ul li:last-child(4){
  width: 50px;
  height: 50px;
  margin-right: 16px;
  margin-top: -5px;
}
/* ここからheroSection */
.heroSection{
  text-align: right;
}
.heroImg img {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  width: 976px;
  height: 680px;
  border-radius: 80px 0 0 80px;
  position: relative;
}
.heroInner{
  position: absolute;
  width: 500px;
  height: 281px;
  left: 80px;
  top: 198px;
  background-color: #EFF2F5;
  border-radius: 24px;
  text-align: center;
  padding: 50px 62px;
}
.heroDiscription{
  color: #0071bc;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  /* position: absolute; */
}
.heroBest{
  display: inline-block;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.3333;
    margin-top: 10px;
}






/* ここからlineSection */
.lineSection{
  max-width: 984px;
  width: 100%;
  height: 357px;
  margin: 0 auto;
}
.lineInner{
  width: 100%;
  height: 100%;
  background-image: url("/assets-ph1-website/img/bg-line.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius:48px ;
  overflow: hidden;
}
.lineInner:before{
content:"";
display: block;
width: 100%;
height: 100%;
position: absolute;
background-color:  #0071bc; 
opacity: 0.9;
}
.lineContents{
  margin: 0 auto;
  left: 170px;
  width: 100%;
  text-align: center;
}

.lineTitles{

}
.lineIcon{
  position: absolute;
  left: 33.23%;
  right: 62.7%;
  top: 22.63%;
  bottom: 66.2%;
  width: 40px;
  height: 40px;
  background:radial-gradient(#FFFFFF 60%, rgba(248, 249, 249, 0) 40%);
}
.posseOfficialLine{
  position: absolute;
  left: 38.11%;
  right: 33.33%;
  top: 15%;
  bottom: 62.85%;
  font-weight: 700;
  font-size: 33px;
  color: #FFFFFF;

}
.lineDescription{
  position: absolute;
  left: 22.87%;
  right: 22.76%;
  top: 41.62%;
  bottom: 39.94%;
  justify-content: center;
  color: #FFFFFF;
  /* line-height: 22px ; */
  font-size : 14px;
}
.lineLink{
  position: absolute;
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 98px;
  width: 320px;
  height: 50px;
  margin: 0 auto;
} 
.footerWrapper{
  top: 1875px;
  padding: 56px 24px 48px;
  text-align: center;
  border-style: solid;
  border-color: #EEEEEE;
  border-left: transparent;
  border-right: transparent;
}
.iconWrapper{
  position: absolute;
}
.twitterIcon,.instagramIcon{
  position: absolute;
  display: inline-flex;
  border-style: solid;
  border-color: #EEEEEE;
  border-radius: 50%;
  font-size: 24px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.twitterIcon{
  position: relative;
}
.footerSite{
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  margin: 24px 0px 0px;
}
.footerBottom{
  text-align: center;
  color: #666666;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
