


.fixedBanner{
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-color: #5FDF5B;
  color: #FFFFFF;
  width: 288px;
  height: 80px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  position: fixed;
  bottom: 12px;
  right: 12px;
}


.footerWrapper{
  padding: 56px 24px 48px;
  text-align: center;
  border-style: solid;
  border-color: #EEEEEE;
  border-left: transparent;
  border-right: transparent;
}
.twitterIcon,.instagramIcon{
  display: inline-flex;
  border-style: solid;
  border-color: #EEEEEE;
  border-radius: 50%;
  font-size: 24px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}